h1 {
  text-align: center;
}

#txt_welcome {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  text-align: center;
}

.card_title {
  font-size: 20px;
}

.card_button {
  font-size: 13px;
  width: 150px;
  height: 30px;
}

.card_img {
  width: 300px;
  height: 300px;
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
